<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <img src="https://cdn.nba.com/logos/nba/nba-logoman-75-word_white.svg">

            <span class="fs-4">NBA Players</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <h2>Welcome to NBA Players Height query</h2>
        </form>
    </div>
</header>