P {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    background-color: rgba(0, 0, 255, 0.007);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}