&nbsp;


<input type="text" placeholder="Search by Height in meters" [(ngModel)]="search"> &nbsp;
<button class="btn btn-primary" (click)="filterPlayer()"> SEARCH </button>

<p *ngIf="nbaPlayersFilter.length===0 ">No matches found</p>


<br>
<table class="table">
    <thead>
        <tr>

            <th scope="col ">First Name</th>
            <th scope="col ">Last Name</th>
            <th scope="col ">Height in Meters</th>
            <th scope="col">Height in Inches</th>
        </tr>
    </thead>
    <tbody *ngFor=" let player of nbaPlayersFilter ">
        <tr>

            <td>{{player.first_name}}</td>
            <td>{{player.last_name}}</td>
            <td>{{player.h_meters}}</td>
            <td>{{player.h_in}}</td>

        </tr>
    </tbody>

</table>